.task-form {
    width: 100%;
    margin-bottom: 20px;

    form {
        display: flex;
    }

    input {
        width: 100%;
        height: 50px;
        font-size: 20px;
        padding: 5px 10px;
        border: 1px solid #eee;
        border-radius: 0;

        &:focus {
            border-color: #16a085;
            outline: none;
        }

        
    }

    button {
        height: 50px;
        font-size: 20px;
        border: 1px solid #eee;
        background-color: #eee;

        &:hover {
            border-color: #16a085;
            background-color: #16a085;
            color: white;
            cursor: pointer;
            transition-duration: 500ms;
        }

    }
    
}